In [2]:
import numpy as np
from numpy import random
from scipy.stats import norm
from scipy.stats import genextreme
import pandas as pd 

%load_ext autoreload
%autoreload 2

import clogit 
import estimation as est

In [3]:
cars = pd.read_csv('cars.csv')
lbl_vars = pd.read_csv('labels_variables.csv')
lbl_vals = pd.read_csv('labels_values.csv')

# convert from dataframe to dict
lbl_vals = {c: lbl_vals[c].dropna().to_dict() for c in lbl_vals.columns}
lbl_vars.set_index('variable', inplace=True)
abc = lbl_vars.join(cars.mean(numeric_only=True).apply(lambda x: f'{x: .2f}').to_frame('Mean'))
abc

,label,Mean
variable,,
ye,year (=first dimension of panel),84.50
ma,market (=second dimension of panel),3.00
co,model code (=third dimension of panel),207.50
zcode,alternative model code (predecessors and succe...,177.76
brd,brand code,16.79
type,name of brand and model,NaN
brand,name of brand,NaN
model,name of model,NaN
org,"origin code (demand side, country with which c...",2.72
loc,"location code (production side, country where ...",5.17
cla,class or segment code,2.30
home,domestic car dummy (appropriate interaction of...,0.32
frm,firm code,14.50
qu,sales (number of new car registrations),35606.68
cy,cylinder volume or displacement (in cc),1337.09
hp,horsepower (in kW),50.10
we,weight (in kg),934.49
pl,"places (number, not reliable variable)",4.88
do,"doors (number, not reliable variable)",3.55
le,length (in cm),409.24
wi,width (in cm),163.44
he,height (in cm),140.46
li1,"measure 1 for fuel efficiency (liter per km, a...",6.59
li2,"measure 2 for fuel efficiency (liter per km, a...",8.11
li3,"measure 3 for fuel efficiency (liter per km, a...",8.92
li,"average of li1, li2, li3 (used in papers)",7.87
sp,maximum speed (km/hour),154.22
ac,time to acceleration (in seconds from 0 to 100...,16.27
pr,price (in destination currency including V.A.T.),2608988.58
princ,=pr/(ngdp/pop): price relative to per capita i...,0.76
eurpr,=pr/avdexr: price in common currency (in SDR t...,7256.92
exppr,=pr/avexr: price in exporter currency,600384.65
avexr,av. exchange rate of exporter country (exporte...,229.30
avdexr,av. exchange rate of destination country (dest...,319.91
avcpr,av. consumer price index of exporter country,492.53
avppr,av. producer price index of exporter country,671.77
avdcpr,av. consumer price index of destination country,77.02
avdppr,av. producer price index of destination country,87.69
xexr,avdexr/avexr,66.32
tax,percentage VAT,0.21
pop,population,49183800.00
ngdp,nominal gross domestic product of destination ...,178667304825541.97
rgdp,real gross domestic product,216716720230172.44
engdp,=ngdp/avdexr: nominal gdp in common currency (...,504371708122.45
ergdp,=rgdp/avexr,659002565347.56
engdpc,=engdp/pop: nominal gdp per capita in common c...,10015.84
ergdpc,=ergdp/pop,13264.84
s,market share (qu / qu_tot),0.02
qu_tot,total sales in this market-year,1424267.29
inc,avg. income per capita,26829.74

In [6]:
abc[abc.index.isin(['li1', 'li2', 'li3'])].label.tolist()

['measure 1 for fuel efficiency (liter per km, at 90 km/h)',
 'measure 2 for fuel efficiency (liter per km, at 120 km/h)',
 'measure 3 for fuel efficiency (liter per km, at city speed)']

In [3]:
price_var = 'princ'
cars['logp'] = np.log(cars[price_var])
# new variable: price elasticity heterogeneous for home-region 
cars['logp_x_home'] = cars[price_var] * cars['home']

In [4]:
categorical_var = 'brand' # name of categorical variable
dummies = pd.get_dummies(cars[categorical_var]) # creates a matrix of dummies for each value of dummyvar
x_vars_dummies = list(dummies.columns[1:].values) # omit a reference category, here it is the first (hence columns[1:])

# add dummies to the dataframe 
assert dummies.columns[0] not in cars.columns, f'It looks like you have already added this dummy to the dataframe. Avoid duplicates! '
cars = pd.concat([cars,dummies], axis=1)

# x_vars
x_vars = ['logp', 'home', 'cy', 'hp', 'we', 'li'] + x_vars_dummies # <--- !!! choose your preferred variables here 
print(f'K = {len(x_vars)} variables selected.')

K = len(x_vars)
N = cars.ma.nunique() * cars.ye.nunique()
J = 40 
x = cars[x_vars].values.reshape((N,J,K))
y = np.log(cars['s'].values.reshape((N,J)))

# standardize x
# x = ((x - x.mean(0).mean(0))/(x.std(0).std(0)))

K = 38 variables selected.

In [6]:
cars

,ye,ma,co,zcode,brd,type,brand,model,org,loc,...,seat,skoda,suzuki,tal/hillman,tal/matra,tal/simca,tal/sunb,talbot,toyota,volvo
0,70,1,15,14,2,audi 100/200,audi,100/200,2,4,...,0,0,0,0,0,0,0,0,0,0
1,70,1,26,35,4,citroen 2 CV 6 - 2 CV 4,citroen,2CV6,1,3,...,0,0,0,0,0,0,0,0,0,0
2,70,1,36,36,4,citroen dyane,citroen,dyane,1,3,...,0,0,0,0,0,0,0,0,0,0
3,70,1,64,67,7,fiat 128,fiat,128,3,5,...,0,0,0,0,0,0,0,0,0,0
4,70,1,71,80,8,ford escort,ford,escort,2,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,99,5,914,161,16,mercedes A,mercedes,A,2,4,...,0,0,0,0,0,0,0,0,0,0
5996,99,5,936,80,8,ford focus,ford,focus,7,4,...,0,0,0,0,0,0,0,0,0,0
5997,99,5,951,208,20,peugeot 206,peugeot,206,1,3,...,0,0,0,0,0,0,0,0,0,0
5998,99,5,953,282,29,toyota avensis,toyota,avensis,4,12,...,0,0,0,0,0,0,0,0,1,0
5999,99,5,978,287,29,toyota yaris,toyota,yaris,4,6,...,0,0,0,0,0,0,0,0,1,0